<h2>{{ this.name }}</h2>
<p class="info">{{ position }} <span>//</span> {{ stay_period }}</p>
<p class="desc">{{ description }}</p>
<div class="job__details">
    {{{ copy }}}
    <div class="job__skills">
        <span>the skills &amp; the tech</span>
        <ul>
            {{#each skills}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
    </div>
</div>